.menu_wrapper
  #Menu.menu
    .round
      %a{:href => "http://deineko.me", :target => "_blank"} &uarr;
    .item.item1
      %a.Zn{:href => "#"} Знать
    .item.item2
      %a.Sm{:href => "#"} Смотреть
    .item.item3
      %a.Ch{:href => "#"} Читать
    .item.item4
      %a.Ot{:href => "#"} Отдыхать